body {
  min-width:600px;
  max-width:1000px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin: 2em 10em;
}

#editorDiv{
    width: 70%;
    margin: auto;
    height: 50%; 
    padding-bottom: 3em;
}
#windowTop{
  font-weight: bold;
  font-size: larger;
  background-color: steelblue;
  border: solid #5555;
  padding: 0 1em;
}

textarea{
  background-color: aliceblue;
  width: -webkit-fill-available;
  height: 25em;
}

#preview {
  background-color: aliceblue;
  overflow: scroll;
  height: 35em;
  border-style: groove;
}
 