body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav */
#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
/* nav */

.site-layout-background {
  height: 100%;
}
section.ant-layout {
height:100%
}
div#root {
  height: 100%;
}
/*nested etable size*/
.ant-table-wrapper {
  clear: both;
  max-width: 100%;
  position: relative;
  max-height: 95% !important;
  overflow: scroll;
}
h2 {
  margin-top: 5em !important;
  margin-left: 3em !important;
}
.ant-table-wrapper .echart{ 
  margin: 0 5em;
}
 